@charset "utf-8";

#map-canvas {
	width: 100%;
}

#header-hollow {
	padding: 10px 0px;
}

.info-window {
	width: 250px;
	display: table-cell;
	vertical-align: middle;
}

#right-side {
	background-color: #dcdcdc;
}

.adsense {
	width: 300px;
	height: 250px;
	margin: 5px;
}
